#include "../lcdkit3.0/mrr/devkit_lcd_kit.dtsi"

&huawei_lcd_panel {
		compatible = "huawei,lcd_panel_type";
		product_id = <4000>;
		detect_type = <2>; /*0:DETECT_GPIOID  1:DETECT_CHIPID  2:DETECT_LCD_TYPE */
		gpio_id = <78 76>; /*ID0 ID1*/
		support_lcd_type = "LCD_KIT";
		iovcc_lcd = <2 184>;
};

&reserved_memory {
};


/* chosen */
&chosen {

	atag,videolfb-fb_base_l = <0x7e020000>;
	atag,videolfb-fb_base_h = <0x0>;
	atag,videolfb-islcmfound = <1>;
	atag,videolfb-islcm_inited = <0>;
	atag,videolfb-fps= <6000>;
	atag,videolfb-vramSize= <0x1be0000>;
	atag,videolfb-lcmname=
		"nt35595_fhd_dsi_cmd_truly_nt50358_drv";
};

/* DISPSYS GPIO standardization */
&pio {
	mtkfb_pins_lcm_dsi_te: lcm_dsi_te {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO41__FUNC_DSI_TE>;
		};
	};
	panel_pins_default: panel_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO42__FUNC_GPIO42>,
				<PINMUX_GPIO40__FUNC_DISP_PWM>;
			slew-rate = <1>;
			output-high;
		};
	};
};

&dispsys_config {
	pinctrl-names =
		"mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	panel@0 {
		compatible = "kit_panel_common";
		reg = <0>;
		pinctrl-0 = <&panel_pins_default>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
		port@1 {
			reg = <1>;
			master_out: endpoint {
				remote-endpoint = <&slave_in>;
			};
		};
	};
};

&dsi1 {
	mediatek,dual-dsi-slave;
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@1 {
			reg = <1>;
			slave_in: endpoint {
				remote-endpoint = <&master_out>;
			};
		};
	};
};

&mipi_tx_config1 {
	status = "okay";
};

&disp_leds {
	compatible = "mediatek,disp-leds";

	backlight {
		label = "lcd-backlight";
		max-brightness = <4095>;
		led-bits = <12>;
		trans-bits = <11>;
		default-state = "on";
	};
};

&pwmleds {
	compatible = "mediatek,pwm-leds";

	backlight {
		label = "lcd-backlight";
		pwms = <&disp_pwm 0 500000>;
		max-brightness = <3560>;
		led-bits = <12>;
		trans-bits = <11>;
		pwm-names = "lcd-backlight";
		default-state = "half";
	};
};

&i2c2{
	#address-cells = <1>;
	#size-cells = <0>;
	ti,lp8556@2c{
		compatible = "ti,lp8556";
		lp8556_support = <1>;
		reg = <0x2c>;
		dual_ic = <1>;
		lp8556_i2c_bus_id = <2>;
		lp8556_2_i2c_bus_id = <3>;
		lp8556_hw_enable = <1>;
		lp8556_hw_en_gpio = <17>;
		lp8556_2_hw_en_gpio = <14>;
		bl_on_lk_mdelay = <20>;
		bl_on_kernel_mdelay = <32>;
		bl_led_num = <5>;
		lp8556_device_control = <0x81>;
		lp8556_eprom_cfg0 = <0xff>;
		lp8556_eprom_cfg1 = <0xbf>;
		lp8556_eprom_cfg2 = <0x28>;
		lp8556_eprom_cfg3 = <0x52>;
		lp8556_eprom_cfg4 = <0x12>;
		lp8556_eprom_cfg5 = <0x10>;
		lp8556_eprom_cfg6 = <0x80>;
		lp8556_eprom_cfg7 = <0xf7>;
		lp8556_eprom_cfg9 = <0x60>;
		lp8556_eprom_cfgA = <0x0f>;
		lp8556_eprom_cfgE = <0x0e>;
		lp8556_eprom_cfg9E = <0x22>;
		lp8556_led_enable = <0x1f>;
		lp8556_level_lsb = <0x10>;
		lp8556_level_msb = <0x11>;
	};
	realtek,rt8555@31{
		compatible = "realtek,rt8555";
		rt8555_support = <1>;
		reg = <0x31>;
		dual_ic = <1>;
		rt8555_i2c_bus_id = <2>;
		rt8555_2_i2c_bus_id = <3>;
		rt8555_hw_enable = <1>;
		rt8555_hw_en_gpio = <17>;
		rt8555_2_hw_en_gpio = <14>;
		bl_on_lk_mdelay = <0>;
		bl_on_kernel_mdelay = <0>;
		bl_led_num = <5>;
		bl_set_long_slope = <0x70>;
		rt8555_control_mode = <0xC1>;
		rt8555_current_protection = <0xC7>;
		rt8555_current_setting = <0x97>;
		rt8555_voltage_setting = <0x00>;
		rt8555_brightness_setting = <0x10>;
		rt8555_time_control = <0x7F>;
		rt8555_mode_devision = <0x04>;
		rt8555_compensation_duty  = <0x00>;
		rt8555_clk_pfm_enable  = <0x00>;
		rt8555_led_protection = <0x00>;
		rt8555_level_lsb = <0x04>;
		rt8555_level_msb = <0x05>;
		rt8555_reg_config_50 = <0x01>;
	};
};
&i2c3{
	#address-cells = <1>;
	#size-cells = <0>;
	tps65132@3e{
		compatible = "ti,tps65132";
		reg = <0x3e>;
		tps65132_i2c_bus_id = <3>;
		tps65132_support = <1>;
	};
	rt4801h@73{
		compatible = "rt,rt4801h";
		reg = <0x73>;
		rt4801h_i2c_bus_id = <3>;
		rt4801h_support = <1>;
	};
};
