menu "TEE OS"

config TZDRIVER
	tristate "Secure Execution Communicator driver"
	default n
	help
	  Provides a communication interface between userspace and
	  TrustZone Operating Environment.

config HISI_SECBOOT_IMG
	bool "tzdriver split secboot img into modem and ap"
	default n
	depends on KERNEL_CLIENT
	help
	  Macro defined for splitting modem and ap img

config HISI_SECBOOT_IMG_V2
	bool "tzdriver split modem and ap for v2"
	default n
	depends on KERNEL_CLIENT
	help
	  Macro defined for splitting modem and ap img v2

config ASAN_DEBUG
	bool "hisi ASAN debug version"
	default n
	help
	  Macro defined for ASAN debug version

source  drivers/tzdriver/auth/Kconfig
source  drivers/tzdriver/core/Kconfig
source  drivers/tzdriver/ion/Kconfig
source  drivers/tzdriver/tlogger/Kconfig
source  drivers/tzdriver/tui/Kconfig
source  drivers/tzdriver/agent_rpmb/Kconfig

endmenu

