#
# Copyright (C) 2020-2023 huawei Software Operations
# Description: Kernel configuration file for the UFS
#
# Author: sizhiying
# Create: 2020-08-13
#
config SCSI_UFS_ENHANCED_INLINE_CRYPTO
	bool "inline crypto"
	depends on SCSI_UFSHCD
