#
# tee root scan client configuration
#

config TEE_ANTIROOT_CLIENT
        bool "A client to scan root status"
#        depends on HW_ROOT_SCAN
        default n
        help
           this is a TEE root scan client,
	   that use huawei root scan engine
	   to gather kernel info, and send to
	   TEE to verify kernel.


config HUAWEI_ROOT_SCAN_DUMMY_API
	bool "dummy api for test of TEE_ANTIROOT_CLIENT"
	depends on TEE_ANTIROOT_CLIENT
	default n
	help
	   this is dummy api for test of TEE_ANTIROOT_CLIENT.
	   It mimics the API of HW_ROOT_SCAN, so we
	   can test antiroot CA/TA.
	   SHOULD turn off this when HW_ROOT_SCAN is on.

config TEE_KERNEL_MEASUREMENT_API
	bool "this api enable kernel measurement in ANTIROOT TA"
	depends on TEE_ANTIROOT_CLIENT
	default n
	help
	   this api enable kcode/syscall/sehooks measurement
	   in ANTIROOT TA,and verify measurement result in
	   ANTIROOT TA.
config TEE_ANTIROOT_CLIENT_ENG_DEBUG
	bool "TEE ANTIROOT CLIENT for engineering mode debug"
	depends on TEE_ANTIROOT_CLIENT
	default n
	help
	   This option should only be enabled for engineering mode & debug test.

config HW_ROOT_SCAN_RODATA_MEASUREMENT_API
	bool "this api enable part of rodata measurement in kernel"
	depends on TEE_KERNEL_MEASUREMENT_API
	default n
	help
	  this api enable part of rodata measurement in kernel, cooperate with
	  TEE_RODATA_MEASUREMENT in ANTIROOT TA will enable rodata measurement
	  and verify result in ANTIROOT TA.
