&charger {
	ac_charger_current = <2500000>;
	ac_charger_input_current = <2200000>;
	fcp_charger_current = <2500000>;
	fcp_charger_input_current = <1400000>;
	non_std_ac_charger_current = <1200000>;
	dpm_enable;
	battery_cv = <4380000>;
	iterm = <150000>;
	vbus_max_limit = <11500>;
	jeita_temp_t2_to_t3_cv = <4380000>;
	jeita_temp_t1_to_t2_cv = <4380000>;
	jeita_temp_t0_to_t1_cv = <4380000>;
	jeita_temp_t3_to_t4_cur = <1715000>;
	jeita_temp_t2_to_t3_cur = <3000000>;
	jeita_temp_t1_to_t2_cur = <1470000>;
	jeita_temp_t0_to_t1_cur = <490000>;
	vdpm_buf_limit = <100>;
	vdpm_para =
			"-32767", "4000", "4240", "50",
			"4000", "4200", "4440", "50",
			"4200", "32767", "4600", "50";
	charge_full_design = <5000000>;
};

&pio {
	hi6526_irq_pins_default: hi6526_irq_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO22__FUNC_GPIO22>;
			slew-rate = <0>;
			bias-pull-up;
		};
	};
};

&i2c7 {
			sm5450@6F{
				compatible = "sm5450";
				reg = <0x6F>;
				pinctrl-names = "default";
				pinctrl-0 = <&hi6526_irq_pins_default>;
				intr_gpio_num = <22>; /* direct defined GPIO num */
				intr_gpio = <&pio 22 0>;
				adc_channel_vbat_sys = <14>;
				fcp_support = <1>;
				scp_support = <1>;
				lvc_ibat_regulator = <12200>;
				lvc_vbat_regulator = <4500>;
				lvc_vout_regulator = <4550>;
				lvc_ibus_regulator = <5600>;
				sc_ibat_regulator = <12200>;
				sc_vbat_regulator = <4500>;
				sc_vout_regulator = <4550>;
				sc_ibus_regulator = <5600>;
				lvc_vusb2vbus_drop_en = <1>;
				sc_vusb2vbus_drop_en = <1>;
				bat_comp = <30>;
				vclamp = <90>;
				r_coul_mohm = <5>;
				status = "ok";
			};

			hi6526_charger@6B{
				compatible = "huawei,hi6526_charger";
				reg = <0x6B>;
				pinctrl-names = "default";
				pinctrl-0 = <&hi6526_irq_pins_default>;
				intr_gpio_num = <22>; /* direct defined GPIO num */
				intr_gpio = <&pio 22 0>;
				adc_channel_vbat_sys = <14>;
				fcp_support = <1>;
				scp_support = <1>;
				lvc_ibat_regulator = <12200>;
				lvc_vbat_regulator = <4500>;
				lvc_vout_regulator = <4550>;
				lvc_ibus_regulator = <5600>;
				sc_ibat_regulator = <12200>;
				sc_vbat_regulator = <4500>;
				sc_vout_regulator = <4550>;
				sc_ibus_regulator = <5600>;
				lvc_vusb2vbus_drop_en = <1>;
				sc_vusb2vbus_drop_en = <1>;
				bat_comp = <30>;
				vclamp = <90>;
				r_coul_mohm = <5>;
				status = "ok";
			};
};

&huawei_charger {
	compatible = "huawei,charger";
	status = "okay";
};

&huawei_battery {
	compatible = "huawei,battery";
	voltage_max_design = <4380000>;
	status = "okay";
};

&lk_charger{
	ac_charger_current = <1050000>;
	ac_charger_input_current = <1200000>;
	non_std_ac_charger_current = <1050000>;
	is_power_path;
};

&direct_charge_ps {
	status = "ok";
};

&direct_charger {
	use_5A = <1>;
	volt_para =
		"4380", "2800", "1200";
	compensate_r = <20>;
	cc_cable_detect_enable = <1>;
	high_temp_hysteresis = <1>;
	full_path_res_max = <500>;
	super_ico_current = <2400>;
	scp_work_on_charger = <1>;
	standard_cable_full_path_res_max = <500>;
	first_cc_stage_timer_in_min = <0>;
	stage_need_to_jump = "1";
	is_show_ico_first = <1>;
	is_send_cable_type = <0>;
	temp_para =
		"-32767", "10", "0",
		"10", "45", "2800",
		"45", "32767", "0";
	status = "disable";
};

&direct_charger_sc {
	use_5A = <1>;
	dc_volt_ratio = <2>;
	max_adaptor_vset = <11000>;
	init_adapter_vset = <8800>;
	delta_err_10v2p25a = <150>;
	vol_err_th = <500>;
	adaptor_leakage_current_th = <600>;
	high_temp_hysteresis = <1>;
	gain_curr_10v2a = <300>;
	gain_curr_10v2p25a = <500>;
	init_delt_vset = <450>;
	vstep = <20>;
	max_dc_bat_vol = <4350>;
	max_current_for_none_standard_cable = <5000>;
	volt_para =
		"4100", "5000", "4600",
		"4250", "4600", "3400",
		"4400", "3400", "1200";
	compensate_r = <20>;
	cc_cable_detect_enable = <1>;
	full_path_res_max = <500>;
	scp_work_on_charger = <1>;
	standard_cable_full_path_res_max = <500>;
	first_cc_stage_timer_in_min = <10>;
	stage_need_to_jump = "-1";
	is_show_ico_first = <1>;
	is_send_cable_type = <0>;
	temp_para =
		"-32767", "10", "0",
		"10", "45", "5000",
		"45", "32767", "0";
	std_resist_para =
		"0", "300", "5000",
		"300", "500", "5000";
	10v2p25a_cur_para =
		"-32767", "5500",  "2000",
		"5500",   "9000",  "2500",
		"9000",   "10000", "2250",
		"10000",  "10500", "2000",
		"10500",  "32767", "1500";
	status = "ok";
};

&bat_gm30 {
	bat_para =
			"ScudCoslight", "120000", "230000",
			"DesayAtl", "250000", "350000";
	ntc_compensation_is = <1>;
	ntc_temp_compensation_para =
		"4000", "40",
		"3000", "30",
		"2000", "30",
		"1000", "10";
	min_fcc = <3500000>;
	max_fcc = <5000000>;
	dlpt_optimization;
	g_FG_PSEUDO100_T0 = <(97)>;
	g_FG_PSEUDO100_T1 = <(97)>;
	g_FG_PSEUDO100_T2 = <(94)>;
	#include "scud_coslight_4v4_4900mah_ext.dtsi"
	#include "desay_atl_4v4_4900mah_ext.dtsi"
};

&usb_c_pinctrl {
	status = "disabled";
};

&power_thermalzone {
	status = "ok";
};

&mtk_usb_temp {
	status = "ok";
};

&usb_short_circuit_protect {
	status = "ok";
};
