&charger {
	ac_charger_current = <2695000>;
	ac_charger_input_current = <2300000>;
	fcp_charger_current = <2500000>;
	fcp_charger_input_current = <1400000>;
	non_std_ac_charger_current = <1200000>;
	pd_vbus_upper_bound = <9000000>;
	max_charger_voltage = <12000000>;
	bc12_charger = <22>; /* usb switch do bc12 */
	dpm_enable;
	battery_cv = <4440000>;
	iterm = <500000>;
	vbus_max_limit = <11500>;
	jeita_temp_above_t4_cv = <4100000>;
        jeita_temp_t3_to_t4_cv = <4100000>;
        jeita_temp_t2_to_t3_cv = <4440000>;
        jeita_temp_t1_to_t2_cv = <4440000>;
        jeita_temp_t0_to_t1_cv = <4440000>;
        jeita_temp_below_t0_cv = <4100000>;
        jeita_temp_t3_to_t4_cur = <1400000>;
        jeita_temp_t2_to_t3_cur = <2800000>;
        jeita_temp_t1_to_t2_cur = <1200000>;
        jeita_temp_t0_to_t1_cur = <400000>;
	vdpm_buf_limit = <100>;
	vdpm_para =
			"-32767", "4000", "4300", "50",
			"4000", "4200", "4500", "50",
			"4200", "32767", "4600", "50";
	charge_full_design = <3900000>;
};

&pio {
	bq25970_main_irq_pins_default: bq25970_main_irq_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO45__FUNC_GPIO45>;
			slew-rate = <0>;
			bias-pull-up;
		};
	};
	bq25970_aux_irq_pins_default: bq25970_aux_irq_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO39__FUNC_GPIO39>;
			slew-rate = <0>;
			bias-pull-up;
		};
	};
	fsa9685_irq_pins_default: fsa9685_irq_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO43__FUNC_GPIO43>;
			slew-rate = <0>;
			bias-pull-up;
		};
	};
	rt9426_irq_pins_default: rt9426_irq_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO41__FUNC_GPIO41>;
			slew-rate = <0>;
			bias-pull-up;
		};
	};
	bq27z561_irq_pins_default: bq27z561_irq_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO41__FUNC_GPIO41>;
			slew-rate = <0>;
			bias-pull-up;
		};
	};
	battct_swi_pins_default: battct_swi_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO46__FUNC_GPIO46>;
			slew-rate = <0>;
			bias-disabled;
			input-enable;
			drive-strength = <3>;
		};
	};
	battct_id_pins_default: battct_id_pins_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO48__FUNC_GPIO48>;
			slew-rate = <0>;
			bias-disabled;
			output-high;
		};
	};
};

&i2c7 {
	bq25970@65 {
		compatible = "bq25970";
		pinctrl-names = "default";
		pinctrl-0 = <&bq25970_main_irq_pins_default>;
		gpio_int = <&pio 45 0x0>;
		switching_frequency = <675>;
		sense_r_config = <20>;
		sense_r_actual = <10>;
		reg = <0x65>;
		status = "ok";
	};

	fairchild_fsa9685@25 {
		compatible = "huawei,fairchild_fsa9685";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&fsa9685_irq_pins_default>;
		fairchild_fsa9685,gpio-intb = <&pio 43 0x0>;
		fcp_support = <1>;
		scp_support = <1>;
		power_by_5v = <1>;
		close_bc12 = <1>;
		need_other_bc12 = <0>;
		ignore_force_ac = <1>;
		/* for rt8979 */
		interrupt-names = "vbus_change", "device_change", "detach",
			"attach";
		/* auto_switch; */
		scp;
		dcd;
		dcd_timeout = <600>;  /* ms */
		intb_watchdog = <1000>;  /* ms */
		ovp_sel = <14500000>;  /* uV */
		status = "ok";
	};
	bq27z561_fg@55 {
		reg = <0x55>;
		compatible = "huawei,bq27z561";
		status = "disabled";
		pinctrl-names = "default";
		pinctrl-0 = <&bq27z561_irq_pins_default>;
		bq27z561,gpio-intb = <&pio 41 0x0>;
		ntc_compensation_is = <1>;
		ntc_temp_compensation_para =
			"11000", "140",
			"10000", "120",
			"9000", "100",
			"8000", "80",
			"7000", "60",
			"6000", "50",
			"5000", "40",
			"3000", "20",
			"2000", "10";
		batt_default_name = "ti_BCYCAE_4445_3900mah_BT162";
		#include "ti_BCYCAE_4445_3900mah_BT162.dtsi"
	};
	rt9426_battery@55{
		reg = <0x55>;
		rt,bat_name = "rt_battery";
		compatible = "richtek,rt9426";
		pinctrl-names = "default";
		pinctrl-0 = <&rt9426_irq_pins_default>;
		rt9426,gpio-intb = <&pio 41 0x0>;
		rt,dtsi_version = <02 724>;
		rt,battery_type = <4400>;
		rt,volt_source = <1>;		/* 0:AP 1:FG_VBAT 2:FG_OCV; 3:FG_AV  */
		rt,temp_source = <1>;		/* 0:AP 1:FG_TEMP 2:FG_INTT; 3:FG_AT */
		rt,curr_source = <2>;		/* 0:AP 1:FG_CURR 2:FG_AI            */
		rt,offset_interpolation_order = <2 2>;
		rt,soc_offset_size = <2 1>;
		rt,soc_offset_data = < 0 250 0 1000 250 0>;
		rt,extreg_size = <30>;
		rt_config_ver = <7>;
		rt,extreg_data = <
			0x1 0x4A 0x320B
			0x1 0x4C 0x0402
			0x1 0x4E 0x1810
			0x2 0x4E 0x2404
			0x3 0x4E 0xB708
			0x5 0x48 0x020A
			0x5 0x4C 0x3223
			0x6 0x40 0x8813
			0x6 0x42 0x8224
			0x6 0x44 0xAF77
			0x6 0x48 0xA310
			0x6 0x4A 0x6852
			0x6 0x4C 0x6457
			0x6 0x4E 0x0464
			0x7 0x40 0x0D12
			0x7 0x42 0x0508
			0x7 0x44 0x0505
			0x7 0x46 0x0101
			0x7 0x48 0x0101
			0x7 0x4A 0x0101
			0x7 0x4C 0x0001
			0x7 0x4E 0xFFFF
			0x8 0x40 0xFFFE
			0x8 0x42 0xFFFF
			0x8 0x44 0xFAFA
			0x8 0x46 0xF9FA
			0x8 0x48 0xFFFF
			0x8 0x4A 0xF2FF
			0x8 0x4C 0xECF2
			0x8 0x4E 0x00E7 >;
		rt,design_capacity = <1480>;
		rt,fcc = <1476>;
		rt,fg_fc_vth = <0x9F>;
		rt,fg_fc_ith = <0x3A>;
		rt,fg_fc_sth = <0x05>;
		rt,fg_fd_vth = <0x6A>;
		rt,fg_op_config = <0x3400 0x4000 0x3EFB 0x2000 0x087F>;
		rt,fg_otc_tth = <0x0064>;
		rt,fg_otc_chg_ith = <0x045F>;
		rt,fg_otd_tth = <0x0064>;
		rt,fg_otd_dchg_ith = <0x045F>;
		rt,fg_uvov_threshold = <0x00FF>;
		rt,fg_us_threshold = <0x00>;
		rt,fg_curr_db = <0x04>;
		rt,rs_ic_setting = <250>; /* 2.5mR */
		rt,rs_schematic = <100>; /* 1.0mR */
		rt,fg_ocv_table = < 0x0013 0x44C0 0x4B00 0x55F3 0x5A60 0x5BED 0x5C93 0x5DFA
				0x5FA6 0x60AD 0x619A 0x62CD 0x63AD 0x662D 0x687A 0x69E0
				0x6B0D 0x6C46 0x6DC0 0x706D 0x1900 0x0AF3 0x0367 0x01A2
				0x002B 0x004B 0x0035 0x003E 0x0058 0x00A6 0x0080 0x007F
				0x0090 0x0092 0x008F 0x008B 0x006D 0x0112 0x0013 0xFF80
				0x0000 0x0200 0x049A 0x0680 0x0E4D 0x17E6 0x281A 0x309A
				0x3600 0x39B3 0x3D33 0x474D 0x4F80 0x5466 0x589A 0x5D1A
				0x6400 0x6900 0x000A 0x0017 0x004B 0x009D 0x0600 0x036E
				0x04D6 0x0425 0x02EB 0x018B 0x0200 0x0205 0x01C8 0x01C0
				0x01CA 0x01D6 0x0257 0x00EF 0x27A8 0x0000 0x0000 0x0000 >;
		ntc_compensation_is = <1>;
		ntc_temp_compensation_para =
			"11000", "140",
			"10000", "120",
			"9000", "100",
			"8000", "80",
			"7000", "60",
			"6000", "50",
			"5000", "40",
			"3000", "20",
			"2000", "10";
		status = "ok";
	};
};
&i2c0 {
	bq25970@65 {
		compatible = "bq25970";
		pinctrl-names = "default";
		pinctrl-0 = <&bq25970_aux_irq_pins_default>;
		gpio_int = <&pio 39 0x0>;
		ic_role = <1>;
		switching_frequency = <675>;
		sense_r_config = <20>;
		sense_r_actual = <10>;
		reg = <0x65>;
		status = "ok";
	};
};
&huawei_charger {
	compatible = "huawei,charger";
	status = "okay";
};

&huawei_battery {
	compatible = "huawei,battery";
	voltage_max_design = <4430000>;
	status = "okay";
};

&lk_charger{
	ac_charger_current = <1050000>;
	ac_charger_input_current = <1050000>;
	non_std_ac_charger_current = <1050000>;
	max_charger_voltage = <12000000>;
	is_power_path;
	poweron_charger_enable = <1>;
};

&direct_charge_ps {
	status = "ok";
};

&direct_charge_ic {
	/* ic_index  path_index  max_ibat  ibat_sample_point  vbat_sample_point */
	ic_para1 =
		"0", "0", "0", "0", "0",
		"1", "1", "0", "0", "1";
	mode_para =
		"sc_mode", "ic_para1";
	status = "ok";
};

&direct_charger {
	status = "disabled";
};

&huawei_ptst {
	compatible = "huawei,power_test";
	dc_mmi_para = <45 0x01 1 5000 5>;
	status = "ok";
};

&direct_charger_sc {
	use_5A = <1>;
	use_higher_vbat = <1>;
	adaptor_antifake_check_enable = <1>;
	adaptor_antifake_key_index = <2>;
	dc_volt_ratio = <2>;
	max_adaptor_vset = <11000>;
	init_adapter_vset = <8800>;
	delta_err_10v2p25a = <150>;
	vol_err_th = <500>;
	adaptor_leakage_current_th = <600>;
	high_temp_hysteresis = <1>;
	gain_curr_10v2a = <300>;
	gain_curr_10v2p25a = <500>;
	init_delt_vset = <450>;
	vstep = <20>;
	max_dc_bat_vol = <4380>;
	max_current_for_none_standard_cable = <6000>;
	volt_para =
		"4150", "8000", "6000",
		"4250", "6000", "4000",
		"4300", "4000", "2800",
		"4440", "2800", "1200";
	volt_para1 =
		"4260", "12400", "11000",
		"4250", "11000", "8000",
		"4300", "8000", "6000",
		"4380", "6000", "4800",
		"4440", "4800", "1200";
	bat_para =
		"CAE", "10", "20", "volt_para",
		"CAE", "20", "45", "volt_para1",
		"default", "10", "20", "volt_para",
		"default", "20", "45", "volt_para1";
	second_resist_para =
		"0", "250", "0",
		"250", "450", "8000";
	vbat_error =
		"3", "100", "2", "-1",
		"3", "60", "1", "8000";
	current_ratio =
		"3", "6", "16", "2", "-1",
		"3", "9", "13", "1", "8000",
		"0", "9", "13", "0", "0";
	adapter_max_power_time_para =
		"3", "600", "6000",
		"4", "1200", "3000",
		"5", "600", "6000",
		"6", "600", "6000",
		"7", "600", "6000",
		"8", "600", "6000",
		"9", "1200", "3000",
		"10", "1200", "3000",
		"12", "600", "6000",
		"13", "600", "6000",
		"14", "600", "6000",
		"15", "1200", "3000";
	vstep_para =
			"2000", "80";
	compensate_r = <0>;
	cc_cable_detect_enable = <1>;
	cc_unsafe_sc_enable = <1>;
	full_path_res_max = <500>;
	scp_work_on_charger = <1>;
	standard_cable_full_path_res_max = <500>;
	first_cc_stage_timer_in_min = <14>;
	stage_need_to_jump = "-1";
	is_show_ico_first = <1>;
	is_send_cable_type = <0>;
	support_multi_ic = <1>;
	10v4a_cur_para =
		"-32767", "11000", "4000";
	rt_test_para =
		/* first:sc second:mainsc third:auxsc */
		"1200", "50",
		"1200", "50",
		"1200", "50";
	temp_para =
		"-32767", "10", "0",
		"10", "46", "12500",
		"46", "32767", "0";
	resist_para =
		"0", "300", "6000",
		"300", "500", "5000";
	std_resist_para =
		"0", "300", "12500",
		"300", "500", "5000";
	10v2p25a_cur_para =
		"-32767", "5500",  "2000",
		"5500",   "9000",  "2500",
		"9000",   "10000", "2250",
		"10000",  "10500", "2000",
		"10500",  "32767", "1500";
	status = "ok";
};

&ffc_control {
	status = "ok";
	dc_vbat_para =
		"4420", "4420";
};

&btb_check {
	vol_check_para = "1", "1", "2700", "4700", "120", "3", "0";
	status = "ok";
};

&bat_gm30 {
	bat_para =
		"BYT_CAE", "250000", "350000",
		"BIT_CAE", "830000", "960000";
        ntc_compensation_is = <1>;
        ntc_temp_compensation_para =
		"11000", "140",
		"10000", "120",
		"9000", "100",
		"8000", "80",
		"7000", "60",
		"6000", "50",
		"5000", "40",
		"3000", "20",
		"2000", "10";
	min_fcc = <2590000>;
	max_fcc = <3900000>;
	dlpt_optimization;
	CAR_TUNE_VALUE = <(500)>;
	ACTIVE_TABLE = <(0)>;
	MULTI_BATTERY = <0>;
	#include "BITCAE_4v43_3900mah_ext.dtsi"
	#include "BYTCAE_4v43_3900mah_ext.dtsi"
};

&usb_c_pinctrl {
	status = "disabled";
};

&pd_dpm {
	support_analog_audio = <1>;
	status = "ok";
};

&mt6360_pmu {
	mt6360,intr_gpio_num = <10>; /* direct defined GPIO num */
	mt6360,intr_gpio = <&pio 10 0x0>;
};

&mt6360_typec {
	mt6360pd,intr_gpio_num = <9>; /* direct defined GPIO num */
	mt6360pd,intr_gpio = <&pio 9 0x0>;
};

&power_thermalzone {
	status = "ok";
};

&usb_short_circuit_protect {
	uscp_threshold_tusb = <40>;
	open_mosfet_temp = <30>;
	close_mosfet_temp = <10>;
	open_hiz_temp = <30>;
	interval_switch_temp = <15>;
	status = "ok";
};

&usb_phy_tuning {
		h_u2_vrt_ref = <7>;
		h_u2_term_ref = <7>;
		h_u2_enhance = <3>;
		d_u2_vrt_ref = <7>;
		d_u2_term_ref = <7>;
		d_u2_enhance = <3>;
		status = "ok";
};

&huawei_batt_identify {
	pinctrl-names = "default";
	pinctrl-0 = <&battct_id_pins_default>;
	gpios = <&pio 48 0x0>;
	id_voltage_gpiov = <0 1>;
	id_sn_gpiov = <0 0>;
	status = "ok";
};

&huawei_batt_info {
	status = "ok";
	shield_ct_sign = <1>;
	battery_checker@0 {
		matchable = <&sle95250>;
		status = "ok";
	};
};

&sle95250 {
	pinctrl-names = "default";
	pinctrl-0 = <&battct_swi_pins_default>;
	onewire-gpio = <&pio 46 0x0>;
	product_id0 = <1>;
	product_id2 = <3>;
	gpio_sn_mode_val = <0>;
	dip_check = <0>;
	gpio_swi = <46>;
	gpio_id_mode = <48>;
	gpio_swi_drv = <3>;
	status = "ok";
};
