#
# huawei easy shell configuration
#

config HUAWEI_BB_ECALL
	bool "huawei blackbox ecall"
	default n
	depends on HUAWEI_KERNEL_DEBUG
	help
	  If you say yes here you get support for huawei blackbox ecall.